<nav class="navbar navbar-expand-lg navbar-dark black">
    <div class="container">
        <div class="col-md-4">
            <img class="img-fluid" src="assets/img/logo.jpg" alt="">
        </div>
    </div>
</nav>


<div class="container main" role="main">
    <div class="row">
        <div class="col-md-4">
            <div class="section-title">    
                <p>
                    <fa-icon [icon]="faSync"></fa-icon> Transfer
                </p>
            </div>
            <div class="content">
                <app-transfer (sendNewTransfer)="sendTransfer($event)"></app-transfer>
            </div>
        </div>
        <div class="col-md-8 divTransactions">
            <div class="section-title">
                <p>
                    <fa-icon [icon]="faBriefcase"></fa-icon> Transactions
                </p>
            </div>
            <div class="content">
                <app-transactions [getTransfer]="transactionsArray" ></app-transactions>
            </div>
        </div>
    </div>
</div>